.grid-card {
  border: solid var(--mainColor);
  border-radius: 5px;
}

.container-list {
  text-decoration: none;
}

h3,
p {
  color: var(--secondaryColor);
}

.card-text {
  margin-bottom: 0;
  margin-top: 0;
}

.container-item {
  margin: 5%;
}

p .card-body {
  display: flex;
  align-items: flex-end;
}

.card-footer button {
  margin-top: 10px;
  width: 100%;
}
