.loginFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  align-self: center;
}

input {
  align-self: center;
  width: 400px;
  padding: 2px 0 2px 0;
}

.loginButton {
  width: 400px;
  align-self: center;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}
