
.add-btn {
  position: relative;
  background: var(--mainColor) ;
  color:#fff;
  border-radius: 2px;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 0.9px 20px;
  transition: 0.5s;
}

.add-btn:hover {
  letter-spacing: 0.25em;
  background: #0468bb;
  color: var(--mainColorLight);
  box-shadow: 0 0 35px #0468bb;
}
