div.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline-start: 1rem;
  padding-inline-end: 2rem;
}

.header_icon {
  font-size: xx-large;
  padding-right: 1rem;
}

.header_icon:hover {
  border-radius: 50%;
  color: rgba(153, 51, 255, 0.879);
}

.list_item {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.list_item:hover {
  background-color: var(--mainColorLight);
  border-radius: 3px;
  color: rgb(153, 51, 255);
}

.list-item-right {
  display: flex;
  justify-content: space-between;
}

.header_search {
  display: flex;
  align-items: center;
}
