@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --mainColor: #2f313a;
  --mainColorLight: #c9cacc;
  --secondaryColor: #910477;
  --textColor: #eeeeee;
}